.chatroom-container {
    width: 500px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.messages {
    background-color: lightgrey;
    border: 2px solid black;
    box-shadow: 3px 3px;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    margin: 10px 0px 10px 0px;
    font-size: 14px;
    border-radius: 5px;
}

.message {
    padding: 4px 0;
}

.input-row {
    display: flex;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px;
    margin-right: 10px;
    flex: 1;
    padding: 10px;
}

.send-button {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px;
    padding: 5px 10px;
}

.send-button:active {
    box-shadow: 0px 0px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}