#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

    font-size: 20;
    font-family: monospace;
    background-color: darkgray;
}

.title {
    text-align: center;
}

.buttons {
    display: flex;
    gap: 40px;
    margin: 100px;
    justify-content: center;
}

.select-button {
    font-family: monospace;
    background-color: grey;
    color: white;
    border: black solid 1px;
    border-radius: 3px;
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
}

.select-button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.select-button:active {
    background-color: black;
}   

#header {
    padding: 20px;
}