.registration-container {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 50px;
    gap: 20px;
    width: fit-content;
    border: 3px solid black;
    border-radius: 8px;
}

.register-title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-form-input {
    width: 300px;
}

.registered-info {
    font-weight: 800;
    margin-top: 300px;
    font-size: 24px;
}